/* #invite {
   background-image: url("bike.jpg");
   min-height: 3000px;
} */
body {
   /* background-image: url("bike.jpg"); */
   /* background-size: 100em 50em; */
}
#names {
    font-family: 'Mukta Mahee', sans-serif;
}

button.btn.btn-lg.btn-square {
    border-radius: 0%;
    background-color: #292b2c;
    color: white;
    margin-top: 20px;
}

#footer {
    background-color: #292b2c;
    color: white;
    padding-left: 5px;
    margin: auto -15px;
}

a.nav-link {
    color: #292b2c;
}

div#text {
    margin-top: 100px;
}

li.nav-item {
    border-radius: 0px;
    margin: 5px;
    border: 1px solid #292b2c;
}

#engaged {
    margin: 20px;
    font-size: 4em;
}

table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

td {
    border: 1px black solid;
    padding: 5px;
}


* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 20px;
    font-family: 'Mukta Mahee', sans-serif;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 297px;

}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 220px;
}

div.desc {
    padding: 10px;
    text-align: center;
}

.parallax {
    /* The image used */
    background-image: url("../img/la.jpg");

    /* Set a specific height */
    min-height: 450px;
    /* max-width: 300px; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
}
